p{margin: 10px 10% 5vw 5%;
width: 85%;
text-align: start;
font-size: 1rem;
line-height: 5vh;
white-space: pre-wrap;}
h2{text-align: start;
    height: 10vh;
    font-size: 3rem;
    font-weight: 400;
    margin:5vh 10% 5vh 2.5%;
}