footer{
    width: 100%;
    height: 20vh;
    
    color:#121418;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

a.footer{
    display: inline;
    background-color: inherit;
    color: white;
    
}
.referal{
    width: 100%;
    display: inline-block;
    grid-area: 2/1/3/4;
    padding: 5px;}
.footwrapper{
    background-color: #386324;
    width: 100%;
    height: 20vh;
    margin-bottom: 0px;
}