@import'../App.scss';
.form{
    display: grid;
    min-height: 50vh;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .15fr.15fr  .15fr .25fr ;
    grid-template-areas:
    "a a"
    "b c"
    "d ."
    "e e"
    "f f"
    "g ."
    ;
    
    @media screen and (max-width: 475px){
        display: block;
        margin: 0px;
        width: auto;
        *{
            width: auto;
        }
    }
    
}
.flexChild{
    justify-self: start;
    font-size: 1.25rem;
    flex: 0;
    max-width: 100%;
    margin: 5vh 0px;
}
.message{
    grid-area: e;
    margin-bottom: 2.5vh;
}


.send{
    width: 50px;
    grid-area: f;
}
.flexInput{display: flex;
justify-content: space-between;
padding-right: 25px;
margin: 4px 0px;
@media screen and (max-width: 500px){
    padding-right: 10px;
    width: 220px;
    
}
    input{
width: 30vw;
max-width: 200px;
    }
label{margin-right: 5px;}}

.textArea{
    border:1px solid $darkText;
    width: 75%;
    height: 200px;
    margin: 5px;
    width: 100%;
    @media screen and (max-width: 500px) {
        width: 100%;
    }

}
.header{
    grid-area: a;
    height: 15vh;
    width: 100%;
    @media screen and (max-width: 500px) {
        height:0px;
        width: 0px;
        
    }
}
.send{
    padding: 10px;
    width: min-content;
    border-radius: 10px;
    background-color: $darkText;
    &:hover{background-color: $main;
    cursor: pointer;}
    color: white;
    border: none;
}