@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
.h1{
    font-family: 'Lobster Two', cursive;
    height: 40vh;
    text-align: center;
    background-image: url('https://cdn.discordapp.com/attachments/515327418366427136/799722626321743872/IMG_2974.JPG');
    padding: 5vh 5% 5vh 5%;
    width: 100%;
    background-size: cover;
    text-align: center;
    font-size: 3rem;
    
}
.background{
    width: 100%;
    @media screen and (max-width: 500px){
        display: none;
    }
}
