@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
h1{
    font-family: 'Lobster Two', cursive;
    width: 100%;
    height: 40vh;
    text-align: center;
    background-image: url('https://cdn.discordapp.com/attachments/515327418366427136/799722626321743872/IMG_2974.JPG');
    padding: 5vh;
    background-size: cover;
    text-align: center;
}