@import'../App.scss';
*{
    box-sizing: border-box;
    outline: 0px;
    margin:0px;
    padding: 0px;
}
.growContainer{
flex-grow: 1;
display: flex;
justify-content:  center;
}
.product{
    align-content: end;
    width: 300px;
    height: 400px;
    margin: 5vh 10px 5vh 10px;
    padding: 20px;
    background-size: contain;
    display: inline-grid;
    background-repeat: no-repeat;
   box-shadow: 1px 1px 1px 1px $darkText,
   inset 0px 0px 1px 1px $darkText;
   border-radius:  1px;
    font-size: 1.25rem;
    }
.data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    align-self: end;
    border: 0px;
    overflow: hidden;
    padding: 10px;
}
.productButton{
    height: 50px;
    align-self: end;
    border: 0px;
    
}
.addContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items:center;
    width: 100%;
    span{
        height: 30px;
        max-width: 30px;
        border: 3px;
        padding:4px;
    }
    button{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: solid $box-shadow 3px;
        &:hover{scale: 1.1;
        background-color: #dddddd;
    border-color: #444444}
    }
}