@import './scssvars.scss';
*{
    box-sizing: border-box;
    outline: 0px;
    margin:0px;
    padding: 0px;
    border: 0px;
    color: inherit;
    scroll-behavior: smooth;
    font-size: inherit;
}
body{
    overflow: scroll;
    background-color: rgb(255, 253, 251);
    color: inherit;
}
html{
    scroll-padding-top: 20vh;
}
a:visited {
    color: inherit;
  }
  input{
      border: 1px solid $darkText;
      border-radius:  1px;
  }
  button{&:hover{cursor: pointer;}}