
.flexContainer{
    display: flex;
    width: 100%;
    margin: 4px 0px;
    justify-content: space-between;
    
    @media screen and(max-width: 500px){
       
        max-width: 100%;
    }
    flex-wrap: wrap;
}
.masterContainer{


    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10vh 5%;
    justify-content: center;
    @media screen and(max-width: 500px){
       
    margin: 0 1% 0px 5%;
        max-width: 100%;
    }
    
    flex-wrap: wrap;



}
.contactWrapper{
    margin-left: 20px;
}
.explainer{
    
    display: grid;
    min-width: 600px;
    min-height: 50vh;
    flex: 1;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    font-size: 1.25rem;
    *{max-width: 90%;}
    
    flex: 1;
    @media screen and (max-width: 500px){
        display: block;
        margin: 0px;
        width: auto;
        min-width: 200px;
    }

}
.h2{
    margin:5vh  0px 0px 5% ;
    text-align: start;
    font-size: 3rem;
    font-weight: 400;
    max-height: 15vh;
    line-height: 15vh;}