
.flexContainer{
    display: flex;
    width: 90vw;
    margin: 4px 0px;
    justify-content: space-between;
    max-width: 320px;
    
    @media screen and(max-width: 500px){
       
        max-width: 100%;
    }
    flex-wrap: wrap;
}
.masterContainer{


    margin: 0 10%;
    @media screen and(max-width: 500px){
        max-width: 100%;
       
    margin: 0 1% 0px 5%;}
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    
    
    
    flex-wrap: wrap;



}
.contactWrapper{
    margin-left: 20px;
}
.explainer{
    margin:5vh 0px ;
    margin-right: 10px;
    display: grid;
    min-height: 50vh;
    flex: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-between;
    font-size: 1.25rem;
    //*{max-width: 90%;}
    
    flex: 1;
    @media screen and (max-width: 500px){
        display: block;
        margin: 0px;
    }

}
.h2{
    margin:5vh  0px 0px 5% ;
    text-align: start;
    font-size: 3rem;
    font-weight: 400;
    max-height: 15vh;
    line-height: 15vh;}