.flex{
    display: flex;
    max-width: 100%;
    width: 100%;
    @media screen and (max-width: 460px){
        max-width: 100%;
        display: block;
    
}
}
.img{
    max-width: 300px;
    width: 25%;
    object-fit:contain;
    margin: 40px;
    @media screen and (max-width: 700px){
        display: none;
    
}

}
