@import './scssvars.scss';
.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    margin: 0 auto;
    width: 100%;
    justify-content:center;
    justify-items: start;
   
}
.shopContainer{
    width: 100%;
    display: grid;
     margin-top:5vh;
    @media all and (min-width: 450px) {
     max-width: 80%;
    }
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-content:  center;
    justify-items: center;
}
.sticky{
    
    width: 100%;
    height: 20vh;
    position: sticky;
    top: 0px;
    z-index: 10;
    @media screen and (max-width: 500px){position: fixed;
}
    
}
.wrapper{
    background-color: $complement;
    height: 10vh;
    color: $darkText;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 75%;
    font-size: 1.25rem;
    @media screen and(max-width: 500px){
        width: 100%;
        grid-template-columns: 1fr;
        height: 40vh;
        
        
    }
    align-items: center;

}
.x{
    line-height: 10vh;
        display: none;
    text-align: center;
    color:$lightText;
    background-color: $darkText;
    text-decoration: none;
    font-size: 2rem;
    @media screen and (max-width: 500px){
    display: block;
    }
}
.svgWrapper{height: 10vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
position: fixed;
background-color: $darkText;}

.h2{text-align: start;
    height: 10vh;
    font-size: 3rem;
    font-weight: 400;
    margin:5vh 5% 5vh 2.5%;
}
.svg{
        margin: auto;
rect{fill: $lightText;}
}